@model IEnumerable<OnlineKirana.Models.Product>

@{ Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Content/modernizr/modernizr.js"></script>

</head>
<body>
    <style>
        body {
            padding-top: 0px;
            padding-bottom: 40px;
            color: #5a5a5a;
        }

        .cart-button {
            position: relative;
            padding: 10px;
            width: 200px;
            height: 60px;
            border: 0;
            border-radius: 10px;
            background-color: #483;
            outline: none;
            cursor: pointer;
            color: #fff;
            transition: .3s ease-in-out;
            overflow: hidden;
        }

            .cart-button:hover {
                background-color: #35269b;
            }

            .cart-button:active {
                transform: scale(.9);
            }

            .cart-button .fa-shopping-cart {
                position: absolute;
                z-index: 2;
                top: 50%;
                left: -10%;
                font-size: 2em;
                transform: translate(-50%,-50%);
            }

            .cart-button .fa-box {
                position: absolute;
                z-index: 3;
                top: -20%;
                left: 52%;
                font-size: 1.2em;
                transform: translate(-50%,-50%);
            }

            .cart-button span {
                position: absolute;
                z-index: 3;
                left: 50%;
                top: 50%;
                font-size: 1.2em;
                color: #fff;
                transform: translate(-50%,-50%);
            }

                .cart-button span.add-to-cart {
                    opacity: 1;
                }

                .cart-button span.added {
                    opacity: 0;
                }

            .cart-button.clicked .fa-shopping-cart {
                animation: cart 1.5s ease-in-out forwards;
            }

            .cart-button.clicked .fa-box {
                animation: box 1.5s ease-in-out forwards;
            }

            .cart-button.clicked span.add-to-cart {
                animation: txt1 1.5s ease-in-out forwards;
            }

            .cart-button.clicked span.added {
                animation: txt2 1.5s ease-in-out forwards;
            }

        .cart {
            position: absolute;
            top: 15%;
            left: 60%;
            margin: auto;
            border-radius: 6px;
            height: 60px;
            width: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #efefef;
            margin: 15px;
            font-size: 20px;
            background-color: #212121;
            color: #efefef;
        }

        .count {
            position: absolute;
            height: 30px;
            width: 30px;
            background-color: #85cb33;
            border-radius: 500px;
            font-size: 14px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            top: 0px;
            right: 0px;
            color: #100b00;
            transform: translate(50%, -50%);
            z-index: 1;
        }

        .card-deck {
            margin: 0 -15px;
            justify-content: space-between;
        }

            .card-deck .card {
                margin: 0 0 1rem;
            }

        .container {
            padding: 5px 5px 5px 5px;
        }

        .position-relative {
            padding: 5px 5px 5px 5px;
        }
        .card {
            margin: 5% 0%;
        }

        .card-body {
            margin: 0% 0% 0% 3%;
            padding: 6% 0%;
        }
    </style>





    <div class="input-group">
        @using (Html.BeginForm("Index", "product", FormMethod.Get))
        {
            <b>Search By:</b><br />
            @Html.RadioButton("SearchBy", "ProductName", true) <text>ProductName</text><br />
            @Html.RadioButton("SearchBy", "Category") <text>Category</text><br />
            @Html.RadioButton("SearchBy", "Brand") <text>Brand</text><br />
            @Html.TextBox("Search")<text>&nbsp;</text><input type="submit" value="Submit" />
        }

        <div class="cart">
            <i class="fa fa-shopping-cart">
            </i>
            <span class="count">0</span>
        </div>
    </div>


        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                    <div class="container">
                        <div class="card-deck">
                            <div class="card">
                                <img class="card-img-top img-responsive" src="@Url.Content(item.ProductImage)" height="150" width="50" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">@item.ProductName</h5>
                                    <p class="card-text">Brand-@item.Brand</p>
                                    <p class="card-text">Category-@item.Category</p>
                                    <p class="card-text">price-@item.Price</p>
                                    <h4 style="color:#808080; font-family:'Arial Rounded MT';text-align:center"> <span class="btn btn-warning">@Html.ActionLink("Add To Cart", "Adtocart", new { id = @item.ProductID })</span></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>




        <script src="~/Scripts/jquery-3.4.1.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>


</body>
</html>


    
