@model OnlineKirana.Models.Product
@{ Layout = null;
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Online Kirana</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/fontawesome-iconpicker/css/fontawesome-iconpicker.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:300" />
    <script src="~/Content/modernizr/modernizr.js"></script>

</head>



<h2>Details</h2>

<fieldset>
    <legend>Product Details</legend>

    <div class="display-label">ProductName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductName)
    </div>

    <div class="display-label">Category</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Category)
    </div>

    <div class="display-label">Brand</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Brand)
    </div>

    <div class="display-label">Price</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">QualityOnHand</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QualityOnHand)
    </div>
    <div class="display-label">ReOrderLevel</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ReOrderLevel)
    </div>
    <div class="display-label">Image</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductImage)

    </div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<script src="~/Content/jquery/jquery.min.js"></script>
<script src="~/Content/twitter-bootstrap/js/bootstrap.min.js"></script>
<script src="~/Content/fontawesome-iconpicker/js/fontawesome-iconpicker.min.js"></script>

