@model OnlineKirana.Models.Product
@{ Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<head>

</head>



<h2>Details</h2>

<fieldset>
    <legend>Product Details</legend>

    <div class="display-label font-weight-bold">ProductName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductName)
    </div>

    <div class="display-label font-weight-bold">Category</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Category)
    </div>

    <div class="display-label font-weight-bold">Brand</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Brand)
    </div>

    <div class="display-label font-weight-bold">Price</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label font-weight-bold">QualityOnHand</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QualityOnHand)
    </div>
    <div class="display-label font-weight-bold">ReOrderLevel</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ReOrderLevel)
    </div>
    <div class="display-label font-weight-bold">Image</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductImage)
        <br/>
        <img src="@Url.Content(Session["Image"].ToString())" height="100" widht="100" />


    </div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<script src="~/Content/jquery/jquery.min.js"></script>
<script src="~/Content/twitter-bootstrap/js/bootstrap.min.js"></script>
<script src="~/Content/fontawesome-iconpicker/js/fontawesome-iconpicker.min.js"></script>

