@model OnlineKirana.Models.Product
@{ Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<head>

</head>



<h2>Details</h2>

<fieldset>
    <legend>Product Details</legend>

    <div class="display-label">ProductName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductName)
    </div>

    <div class="display-label">Category</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Category)
    </div>

    <div class="display-label">Brand</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Brand)
    </div>

    <div class="display-label">Price</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">QualityOnHand</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QualityOnHand)
    </div>
    <div class="display-label">ReOrderLevel</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ReOrderLevel)
    </div>
    <div class="display-label">Image</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductImage)
        

    </div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<script src="~/Content/jquery/jquery.min.js"></script>
<script src="~/Content/twitter-bootstrap/js/bootstrap.min.js"></script>
<script src="~/Content/fontawesome-iconpicker/js/fontawesome-iconpicker.min.js"></script>

