
@model IEnumerable<OnlineKirana.Models.Product>
@{ Layout = null;
}
@helper Truncate(string input, int length)
{
    if (input.Length <= length)
    {
        @input
    }
    else
    {
        @input.Substring(0, length)<text>...</text>
    }
}
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Product Name
        </th>
        <th>
            Category
        </th>
        <th>
            Brand
        </th>
        <th>
            Price
        </th>
        <th>
            Image
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @{ var base64 = Convert.ToBase64String(item.ProductImage);
                    var imgsrc = string.Format("data:image/jpg;base64,{0}", base64); }
                <img src='@imgsrc' style="max-height:250px; max-width:250px" />
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProductID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ProductID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ProductID }) |
                @Html.ActionLink("Images", "Images", new { id = item.ProductID })
            </td>
        </tr>
    }

</table>
