@model IEnumerable<OnlineKirana.Models.Product>
@{ Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<div class="card xl-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Product
        <a href="../ManageProducts/Create" class="btn btn-info pull-right fa fa-plus">Add New Item</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Product ID</th>
                        <th>Product Name</th>
                        <th>Category</th>
                        <th>Brand</th>
                        <th>Price</th>
                        <th>ReOrderLevel</th>
                        <th>QualityOnHand</th>
                        <th>Image</th>
                        <th>Operation</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        //int count = 1;
                    <tr>
                        <td>@item.ProductID</td>
                        <td>@item.ProductName</td>
                        <td>@item.Category</td>
                        <td>@item.Brand</td>
                        <td>@item.Price</td>
                        <td>@item.ReOrderLevel</td>
                        <td>@item.QualityOnHand</td>
                        <td>@item.ProductImage</td>


                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ProductID })
                            @Html.ActionLink("Details", "Details", new { id = item.ProductID })
                            @Html.ActionLink("Delete", "Delete", new { id = item.ProductID })
                        </td>

                    </tr>

                        //count++;
                        //<td>
                        //@item.ProductImage
                        //<img src='#' style="max-height:250px; max-width:250px" />
                        //</td>
                    //<td>
                       // @{ var base64 = Convert.ToBase64String(item.ProductImage);
                           // var imgsrc = string.Format("data:image/jpg;base64,{0}", base64); }
                        //<img src='@imgsrc' style="max-height:200px; max-width:200px" />
                    //</td>
                }

                    </tbody>
                </table>
        </div>

    </div>
</div>


